@model BankData.Entities.Account

@{
    ViewBag.Title = "Withdraw";
}

<h2>Withdraw</h2>

@using (Html.BeginForm("Withdraw", "Admin"))
{
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p class="control-label col-md-2">Amount</p>
        <div class="col-md-10">
            <div>
                <input type="number" , name="amount" />

                @* @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Withdraw" class="btn btn-default" />
                </div>

                <div class="form-group">
                </div>
            </div>
        }
