@model MicroFinBank.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    List<SelectListItem> option = new List<SelectListItem>();
    var option1 = new SelectListItem() { Text = "Savings", Value = "Savings" };
    option.Add(option1);
    var option2 = new SelectListItem() { Text = "Current", Value = "Current" };
    option.Add(option2);

   
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Financed a Corporate Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Financed Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/Content/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="/Content/css/owl.theme.css" type="text/css" media="all">
    <!-- Carousel (for News section) -->
    <link rel="stylesheet" href="/Content/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="/Content/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- //Web-Fonts -->

</head>

<body>
    <!-- header -->
<header>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light px-sm-5 px-3 py-0">
        <h1><a class="navbar-brand py-2" href="@Url.Action("Index","Home")"><i class="far fa-chart-bar"></i> MicroFin Bank</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-xl-5 ml-lg-3 px-xl-5 px-lg-4 py-4 text-center">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index","Home")">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item mx-lg-4 my-lg-0 my-3">
                    <a class="nav-link" href="about.html">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="services.html">Services</a>
                        <a class="dropdown-item" href="typo.html">Typography</a>
                        <a class="dropdown-item" href="projects.html">Projects</a>
                    </div>
                </li>
                <li class="nav-item mx-lg-4 my-lg-0 my-3">
                    <a class="nav-link" href="projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
            <div class="header-contact-w3ls text-center mt-lg-0 mt-4">
                @*<li>
                    <a href="@Url.Action("Register", "Account")" class="btn serv_bottom w3ls-btn">REGISTER</a>


                </li>
                <li>
                    <a href="@Url.Action("Login","Account")" class="btn serv_bottom w3ls-btn">Log in</a>

                </li>*@
                <li>

                    @Html.Partial("_LoginPartial")
                </li>

            </div>
        </div>
    </nav>
    <!-- //navigation -->
</header>
<hr />

  
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="registerbg" style="
        background-image: url('/Content/images/bg2.jpg');
        height: 100vh">

    <div class="d-flex justify-content-center">
        <div class="align-middle">
            <div class="form-group">
                @*<h4>RegisterViewModel</h4>*@
                <hr />
                <div class="form-inline">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="FirstName" placeholder="First Name">
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="LastName" placeholder="Last Name">
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Email" placeholder="Email">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                           @* <input type="text" class="form-control" name="PhoneNumber" placeholder="Phone Number">*@
                           @* @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })*@
                           @* @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-inline">
                    <div class="form-group">
                        @Html.LabelFor(model => model.AccountType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("AccountType", option)
                            @Html.ValidationMessageFor(model => model.AccountType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Passport" placeholder="passport">
                            @Html.ValidationMessageFor(model => model.Passport, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="Confirmpassword" placeholder="Confirm Password">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <br />


                <div class="d-flex justify-content-center">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <footer class="buttom-footer py-lg-4 py-md-3 py-sm-3 py-3">
        <section>
            <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
                <div class="">
                    <div class="row footer-agile-grids ">
                        <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
                            <h4 class="mb-md-3 pb-3">Follow Us</h4>

                            <div class="footer-icons">
                                <ul>
                                    <li class="mb-2"><a href="#"><span class="fab fa-facebook-f"></span></a><h6 class="ml-3 text-left">Facebook</h6></li>
                                    <li class="mb-2"><a href="#"><span class="fas fa-envelope"></span></a><h6 class="ml-3 text-left">Gmail</h6></li>
                                    <li class="mb-2"><a href="#"><span class="fab fa-twitter"></span></a><h6 class="ml-3 text-left">Twitter</h6></li>
                                    <li class="mb-2"><a href="#"><span class="fab fab fa-google-plus-g"></span></a><h6 class="ml-3 text-right">Google+</h6></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 wthree-left-right">
                            <h4 class="mb-md-3 pb-3">Nav Links</h4>
                            <nav class="border-line">
                                <ul class="nav flex-column">
                                    <li>
                                        <a href="index.html">Home </a>
                                    </li>
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="projects.html">Projects</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="wthree-left-right col-lg-4 col-md-4 col-sm-12">
                            <h4 class="mb-md-3 pb-3">Office Openings</h4>
                            <div class="wls-hours-list">
                                <ul>
                                    <li class="d-flex">Monday-Friday<span class="time ml-auto"> 9:30-18:30</span></li>
                                    <li class="d-flex">Saturday <span class="time ml-auto">10:30-14:30</span></li>
                                    <li class="d-flex">Sunday   <span class="time ml-auto"> 11:00-13:0</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="copy-agile-right text-center">
            <p> @DateTime.Today</p>
           @* <p>© 2018 Financed. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>*@
            </p>
        </div>
    </footer>
    <!-- //Footer -->
    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control serv_bottom" value="Login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-secondary">
                                    <span></span>Remember me?
                                </label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" class="text-secondary">Forgot Password?</a>
                            </div>
                        </div>
                        <p class="text-center text-secondary">
                            Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark font-weight-bold">
                                Register Now
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // login -->
    <!-- register -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-agile">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="mb-3">
                                    <span></span>I Accept to the Terms & Conditions
                                </label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control serv_bottom" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- // register -->
    <!-- Js files -->
    <!-- JavaScript -->
    <script src="/Content/js/jquery-2.2.3.min.js"></script>
    <!-- Default-JavaScript-File -->
    <!-- carousel -->
    <script src="/Content/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>

    <!-- //carousel -->
    <!-- smooth scrolling -->
    <script src="/Content/js/SmoothScroll.min.js"></script>
    <!-- move-top -->
    <script src="/Content/js/move-top.js"></script>
    <!-- easing -->
    <script src="/Content/js/easing.js"></script>
    <!--  necessary snippets for few javascript files -->
    <script src="/Content/js/Financed.js"></script>
    <script src="/Content/js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //Js files -->

</body>

</html>